* {
  margin: 0;
  padding: 0;
  text-align: left;
}
:root {
  --border-div-size: 200px;
  --img-size: 150px;
  --main-color: #25dac1;
}
.HeaderCv {
  height: 60px;
}
.container{
overflow: auto;
display: flex;
/* height: 100%; */
justify-content: center;
}

.cv {
  background: #fff;
  min-height: 1222px;
  height:100%;
  min-width: 1200px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.main{
  height: calc(100vh - 80px);
}
.cv .left {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.cv .left .picture {
  width: calc(var(--border-div-size) + 13px);
  height: calc(var(--border-div-size));
  max-width: calc(var(--border-div-size) + 13px);
  max-height: calc(var(--border-div-size) - 2px );
  border-radius: 50px ;
  border: 15px rgb(124, 230, 215) solid;
  margin: 0 auto;
  margin-top: 10%;
  overflow: hidden;
}
.cv .left .picture img {
  /* width: calc(var(--img-size) + 2px );
  height:  calc(var(--img-size) - 2px ); */
  height: 100% ;
  /* border-radius: 50%;
   border: 8px var(--main-color) solid;  */

}
.cv .left .header-title {
  padding: 10px 0;
  background: var(--main-color);
  margin-top: 2rem;
  padding-left: 1rem;
  color: #fff;
  width: 100%;
  font-size: 22px;
}
.cv .left .skills-list ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}
.cv .left .skills-list ul li {
  padding-bottom: 4px;
  font-size: 20px;
}
.cv .right {
  width: 63%;
  display: flex;
  flex-direction: column;
  /* background: yellowgreen; */
}
.cv .right .name {
  font-size: 50px;
  color: var(--main-color);
  margin: 6rem 0 1rem 3rem;
}
.cv .right .prof {
  margin: 0 0 1rem 3rem;
  font-size: 20px;
  font-weight: 700;
}
.cv .right .icons img {
  width: 4rem;
  padding-left: 1rem;
  margin-right: 2rem;
}
.cv .right .title {
  padding: 10px 0;
  background: var(--main-color);
  margin-top: 2rem;
  padding-left: 1rem;
  color: #fff;
  width: 100%;
  font-size: 22px;
  margin-bottom: 1rem;
}
.cv .right .text {
  padding-left: 2rem;
}
.cv .right .text p {
  margin-bottom: 1rem;
}
.cv .right .text .job-title {
  font-size: 22px;
  font-weight: 500;
}
.cv .right .text .time {
  font-style: italic;
  margin: 0;
}
.cv .right .text ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cv .right .m-t {
  margin-top: 3rem;
}

@media print {
  /* * {
    margin: 0 !important;
    padding: 0 !important;
  } */

  .Header {
    display: none;
  }
  .MainBar .SideBar {
    display: none !important;
  }
  .cv{
    margin: 0 !important;
    padding: 0 !important;
    transform: scale(0.6);
  }
  .cv .left .header-title {
    padding: 10px 0;
    background: var(--main-color);
    margin-top: 0;
    padding-left: 1rem;
   
  }
  .cv .right .title {
  padding: 10px 0;
  background: var(--main-color);
  margin-top: 2rem;
  padding-left: 1rem;
  color: #fff;
  width: 100%;
  font-size: 22px;
  margin-bottom: 1rem;
}
}
