.Logo{
    width: 250px;
    height: 20vh;
    background-color: #171727;
    display: grid;
    place-items: center;
    font-size: 2px;
}

.Logo img{
    max-width: 90vmin;
    margin: 0 10px;
}

@media screen and (max-width:470px){
    .Logo{
        width: 100%;
        height: 20vh;
    }
    /* .Logo img{
        max-width: 80vw;
    } */
    .Menu{
        min-height: 5vh;
    }
   
}