
.main{
    background: #171727;
    width: 100%;
    overflow: auto;
    padding: 0 20px;
    height: 80vh !important;
    box-sizing: border-box;
    overflow-y: auto;
}
.main .hidden{
    overflow: hidden;
}
.main .list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    padding-top: 20px;  
}
.main .list li {
    width: calc(100% / 4 - 30px);
    margin: 0 15px 30px;
    border-radius: 15px;
    -webkit-box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 10px rgba(0, 0, 0, 0.5);
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 10px rgba(0, 0, 0, 0.5);
}
@media(max-width: 850px) {
    .main{
        height: 100%;
    }
    .main .list li {
        width: calc(40% - 30px)
    }
}
@media(max-width: 600px) {
    
    .main .list li {
        width: 100%
    }
}
.main .list li .item {
    padding: 15px;
    display: block;
    border-radius: 15px;
    background-color: #242526;
    position: relative
}
.main .list li .item .image {
    position: relative;
    height:max-content;
}
.main .list li .item .image > img {
    width: 100%;
    border-radius: 7px;
}
.main .list li .item .image > iframe {
    width: 1200px;
    height: 800px;
    border-radius: 7px; 
    transform: scale(0.19);

    overflow: hidden;
    transform-origin: 0 0;
}
.main .list li .item .image .number {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(to bottom, #00a780, #057a5e);
    animation: 10s changeColor infinite alternate;
    position: absolute;
    bottom: 15px;
    right: 15px
}
.main .list li .item .title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    display: block
}
.main .list li .item .date {
    font-size: 14px;
    color: rgba(255, 255, 255, .3);
    text-align: center;
    padding: 6px 0
}
.main .list li .item .actions {
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, .05);
    display: flex;
    justify-content: space-between;
    margin: 10px -7px 0
}
.main .list li .item .actions a {
    flex: 1;
    display: flex;
    padding: 0 10px;
    height: 40px;
    justify-content: center;
    text-align: center;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    background-color: #303236;
    margin: 0 7px;
    align-items: center
}
.main .list li .item .actions a img {
    margin-right: 10px
}
.main .list li .item .actions a:hover {
    background-color: #3d4045
}
