.SideBar{
    width: 250px;
    height: 100%;
    background-color: #0F0F1B;
}
.SideBarCv {
    display: none !important;
    background-color: #47a81a !important;
  }

.ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.ul li{
    list-style: none;
    margin: 0 0 35px 0;

}
.ul li a{
    cursor: pointer;
    color: #fff;
    font-size: 30px;

}
.ul li a:hover{
    color: #47a81a;
}


@media screen and (max-width:470px){

.SideBar{
    width: 100% !important;
    height: 10vh;
    margin-top: 5vh;
}
.ul{
    flex-direction: row;

}

.ul li{
    margin: 0  35px 0 0;

}
}